.main-page-question {
    width: 100%;
    min-height: 50px;
    padding: 13px;
    cursor: pointer;
    &__title {
        font-size: 18px;
        font-weight: normal;
        color: rgb(62, 104, 167);
        margin-bottom: 12px;
    }
    &__tags {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
    }
    &__tag {
        display: flex;
        justify-content: center;
        padding: 0 8px;
        align-items: center;
        border-radius: 3px;
        height: 24px;
        width: auto;
        font-size: 14px;
        color: black;
        background-color: rgb(215, 225, 243);
        &:hover {
            background-color: rgb(182, 193, 214);
        }
    }
}