.main-page-question {
    width: 100%;
    min-height: 50px;
    padding: 13px;
    cursor: pointer;
    &__title {
        font-size: 18px;
        font-weight: normal;
        color: rgb(62, 104, 167);
        margin-bottom: 12px;
    }
    &__tags {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
    }
    
    
}