.modal-window-answer {
    margin-top: 20px;
    padding: 15px;
    &__text {

        p {
            line-height: 1.2;
            text-indent: 20px;
            margin-top: 8px;
            font-size: 18px; 
            color: rgb(2, 13, 49);
        }
        pre {
            font-size: 15px; 
            line-height: 1.3;
            margin: 13px 0 13px 0; 
            padding: 13px;
            background-color: rgb(230, 228, 228);
        }
        code {
            font-size: 15px;
            margin: 13px 0 13px 0; 
            padding: 13px;
            margin: 6px 0 6px 0;
        }
    }
}